#!/usr/bin/make -f

export PATH := /usr/local/go/bin:$(PATH)
export GOROOT := /usr/local/go
export GO111MODULE := on
export GOPROXY := https://proxy.golang.org,direct

%:
	dh $@

override_dh_auto_test:

override_dh_dwz:

override_dh_auto_build:
	go build -o ssh-tpm-agent ./cmd/ssh-tpm-agent
	go build -o ssh-tpm-keygen ./cmd/ssh-tpm-keygen
	go build -o ssh-tpm-add ./cmd/ssh-tpm-add

override_dh_auto_install:
	mkdir -p debian/ssh-tpm-agent/usr/bin
	cp ssh-tpm-agent debian/ssh-tpm-agent/usr/bin/
	cp ssh-tpm-keygen debian/ssh-tpm-agent/usr/bin/
	cp ssh-tpm-add debian/ssh-tpm-agent/usr/bin/

